.table > tbody > tr > * {
  vertical-align: middle;
}

.sampul {
  height: 100px;
}

.sampul-detail {
  width: 100%;
}

.sampul-keranjang {
  height: 250px;
}

.sampul-beli {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
}

.bg {
  background-color: dimgray;
  height: 100%;
}
